:root{
--color-lightSeaGreen: LightSeaGreen;
}
*{
box-sizing: content-box;
padding: 0;
margin: 0;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-areas:
     "header header header"
     "aside main main"
     "footer footer footer"
}

header{
    grid-area: header;
    background-color: lightblue;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.header__social img{
border-radius: 50%;
}

aside{
    background-color: lightcyan;
    grid-area: aside;
}

main{
    background-color:beige;
    grid-area: main;
}

footer{
    background-color: tomato;
    grid-area: footer;
}