:root {
    --color-lightSeaGreen: LightSeaGreen;
}

* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body>* {
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

body {
    display: grid;
    gap: 20px;
    grid-template:
        "header"
        "navbar"
        "aside"
        "main"
        "footer";

    header {
        grid-area: header;
        background-color: lightgrey;
    }

    nav {
        grid-area: navbar;
        background-color: lightgrey;
    }

    aside {
        grid-area: aside;
        background-color: lightgrey;
    }

    main {
        grid-area: main;
        background-color: lightgrey;
    }

    footer {
        grid-area: footer;
        background-color: lightgrey;
    }

    @media (min-width: 768px) {
        grid-template:
            "header header header header"
            "navbar navbar navbar navbar"
            "aside main main main"
            "footer footer footer footer";
    }

}